<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Смена пароля</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">

    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/javascript.js"></script>
    <title>Смена пароля</title>

</head>

<body class="text-center body-addPage">
<main class="form-addPage">
    <div class="container mt-5 mb-5">
        <form action="/change-password" method="post">
            <h1 class="h3 mb-3 fw-normal">Смена пароля</h1>
            <p class="fs-6 text-danger" th:text="${passwordError}"></p>
            <input type="password" name="passwordNew" placeholder="Введите новый пароль"
                   class="form-control" required pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$" title="Требования к паролю: не менее 8 символов, заглавные и строчные латинские буквы, не менее 1 цифры"><br>
            <input type="password" name="passwordConfirm" placeholder="Подтвердите новый пароль"
                   class="form-control" required><br>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Сменить пароль</button>
            <a href="/profile" class="p-2 text-dark">На страницу профиля</a>
            <p class="mt-5 mb-3 text-muted">&copy;2024</p>
        </form>
    </div>
</main>
</body>
</body>
</html>

